.ps {
  direction: rtl !important; /* اطمینان از جهت راست به چپ */
}

.ps__rail-y {
  right: 0 !important; /* اسکرول‌بار عمودی به سمت راست */
  left: auto !important;
  background-color: #f0f0f0; /* رنگ پس‌زمینه ریل عمودی */
  width: 15px; /* عرض ریل */
  opacity: 1; /* اصلاح opacity */
}

.ps__thumb-y {
  right: 2px !important; /* فاصله اسکرول‌بار از لبه راست */
  left: auto !important;
  background-color: #888; /* رنگ انگشتی عمودی */
  background-image: url('../img/hich.jpg'); /* عکس پس‌زمینه */
  background-size: cover; /* تنظیم اندازه عکس */
  background-position: center; /* تنظیم موقعیت عکس */
  width: 20px; /* عرض انگشتی */
  opacity: 1; /* اصلاح opacity */
}

.ps__thumb-y:hover {
  background-color: #555; /* رنگ انگشتی هنگام هاور */
  background-image: url('../img/hich.jpg'); /* حفظ عکس هنگام هاور */
  background-size: cover;
  background-position: center;
  width: 20px; /* عرض انگشتی */
  opacity: 1; /* اصلاح opacity */
}

.ps__rail-x {
  background-color: #f0f0f0; /* رنگ پس‌زمینه ریل افقی */
}

.ps__thumb-x {
  background-color: #888; /* رنگ انگشتی افقی */
  background-image: url('../../../public/img/images.jpg'); /* عکس پس‌زمینه */
  background-size: cover; /* تنظیم اندازه عکس */
  background-position: center; /* تنظیم موقعیت عکس */
}

.ps__thumb-x:hover {
  background-color: #555; /* رنگ انگشتی هنگام هاور */
  background-image: url('../../../public/img/images.jpg'); /* حفظ عکس هنگام هاور */
  background-size: cover;
  background-position: center;
}